@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c6dbd9;
  color: #383838;
}
.contenido{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em;
  gap: 2em;
  width: 80%;
  margin: auto;
}

.accordion .accordion-item {
  border-bottom: 2px solid #e5e5e5;
}
.accordion .accordion-item button[aria-expanded='true'] {
  border-bottom: 1px solid #383838;
}
.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: #383838;
  border: none;
  background: none;
  outline: none;
  font-size: 1.6em;
  font-weight: 800;
}
.accordion button:hover,
.accordion button:focus {
  cursor: pointer;
  color: #383838;
}
.accordion button:hover::after,
.accordion button:focus::after {
  cursor: pointer;
  color: #383838;
  border: 1px solid #383838;
}
.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}
.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}
.accordion button .icon::before {
  display: block;
  position: absolute;
  content: '';
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}
.accordion button .icon::after {
  display: block;
  position: absolute;
  content: '';
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}
.accordion button[aria-expanded='true'] {
  color: #383838;
}
.accordion button[aria-expanded='true'] .icon::after {
  width: 0;
}
.accordion button[aria-expanded='true'] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
.accordion .accordion-content p {
  font-size: 1.3em;
  font-weight: 500;
  margin: 2em 0;
}
